@import "../../../styles/settings.scss";

.passwordForm {
  .form {
    margin: 0 auto;
    width: 90%;
    label {
      color: $colorOrange;
    }
    a {
      margin: 0 auto;
      width: 100%;
      .btn {
        margin-top: 3rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .form {
      border: none;
      width: 80%;

      input[type="submit"],
      input {
        width: 50%;
      }
      a {
        width: 50%;
        margin-right: 5%;
        .btn {
          width: 100%;
        }
      }

      input[type="submit"],
      .btn {
        margin: 3.5rem auto;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .form {
      width: 70%;
    }
  }
}
