@import "../../../styles/settings.scss";

// Formulaire create Profile

.createProfileForm {
  transition: all 0.5s ease-in-out;
  margin-bottom: 3rem;

  h2 {
    margin-bottom: 3rem;
  }

  form {
    margin: 0 auto;
    width: 90%;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input[type="submit"] {
      margin-top: 3rem;
    }
  }
  @media screen and (min-width: 768px) {
    form {
      width: 60%;
      border: 3px solid $colorOrange;
      border-radius: 0.5rem;
      padding: 1rem;
      div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input {
          margin-right: 0;
        }
      }
      input[type="submit"] {
        margin: 0 auto;
        margin-top: 3rem;
      }
    }
  }
}
