@import "../../../styles/settings.scss";

// Formulaire create Profile

.createProfileForm {
  @media screen and (min-width: 768px) {
    .form {
      width: 90%;
      margin: 0 auto;
      input {
        width: 55%;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .form {
      width: 68%;
    }
  }
  @media screen and (min-width: 1400px) {
    .form {
      width: 35%;
    }
  }
}
