@import "../../../styles/settings.scss";

.containerPersonalInfo,
.editProfileForm {
  .articlePeronalInfo {
    margin: 0 auto;
    width: 90%;
    border: 3px solid $colorOrange;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    span {
      font-size: 1.7rem;
    }
  }

  .passwordProfile {
    margin: 0 auto;
    color: $colorBlue;
    margin-top: 2rem;
    font-size: 2rem;
  }
  .passwordProfile:hover {
    color: $colorOrange;
  }

  @media screen and (min-width: 768px) {
    .articlePeronalInfo {
      width: 60%;
      .btn {
        width: 100%;
        margin: 0 auto;
        margin-top: 3rem;
      }
    }
    .editForm {
      margin: 0 auto;
      width: 80%;
    }
  }

  @media screen and (min-width: 992px) {
    .articlePeronalInfo {
      width: 55%;
    }
    .editForm {
      width: 60%;
    }
  }

  @media screen and (min-width: 1400px) {
    .articlePeronalInfo {
      width: 40%;
    }
    .editForm {
      width: 40%;
    }
  }
}
