input,
.btn {
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  outline-style: none;
  border: 2px solid #0077b6;
}

input[type=submit],
.btn {
  background-color: #0077b6;
  color: rgba(255, 255, 255, 0.9137254902);
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  input,
  .btn {
    width: 70%;
  }
}
.readProfileForm,
.containerPersonalInfo {
  transition: all 0.5s ease-in-out;
  margin-bottom: 3rem;
}
.readProfileForm h2,
.containerPersonalInfo h2 {
  margin-bottom: 3rem;
}
.readProfileForm form,
.readProfileForm .articlePeronalInfo,
.containerPersonalInfo form,
.containerPersonalInfo .articlePeronalInfo {
  margin: 0 auto;
  width: 90%;
}
.readProfileForm form .titleLicense,
.readProfileForm .articlePeronalInfo .titleLicense,
.containerPersonalInfo form .titleLicense,
.containerPersonalInfo .articlePeronalInfo .titleLicense {
  display: block;
  color: #f4a261;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 3.5rem 0;
}
.readProfileForm form p,
.readProfileForm .articlePeronalInfo p,
.containerPersonalInfo form p,
.containerPersonalInfo .articlePeronalInfo p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}
.readProfileForm form p span,
.readProfileForm .articlePeronalInfo p span,
.containerPersonalInfo form p span,
.containerPersonalInfo .articlePeronalInfo p span {
  font-size: 1.7rem;
}
.readProfileForm form strong,
.readProfileForm form label,
.readProfileForm .articlePeronalInfo strong,
.readProfileForm .articlePeronalInfo label,
.containerPersonalInfo form strong,
.containerPersonalInfo form label,
.containerPersonalInfo .articlePeronalInfo strong,
.containerPersonalInfo .articlePeronalInfo label {
  font-size: 2rem;
  color: #00a699;
}
.readProfileForm form div,
.readProfileForm .articlePeronalInfo div,
.containerPersonalInfo form div,
.containerPersonalInfo .articlePeronalInfo div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.readProfileForm form .btn,
.readProfileForm .articlePeronalInfo .btn,
.containerPersonalInfo form .btn,
.containerPersonalInfo .articlePeronalInfo .btn {
  margin-top: 3rem;
}
.readProfileForm form input[type=submit],
.readProfileForm .articlePeronalInfo input[type=submit],
.containerPersonalInfo form input[type=submit],
.containerPersonalInfo .articlePeronalInfo input[type=submit] {
  margin-top: 1rem;
}
.readProfileForm form .passwordProfile,
.readProfileForm .articlePeronalInfo .passwordProfile,
.containerPersonalInfo form .passwordProfile,
.containerPersonalInfo .articlePeronalInfo .passwordProfile {
  margin: 0 auto;
  color: #00a699;
  color: #0077b6;
  margin-top: 2rem;
  font-size: 2rem;
}
.readProfileForm form .passwordProfile:hover,
.readProfileForm .articlePeronalInfo .passwordProfile:hover,
.containerPersonalInfo form .passwordProfile:hover,
.containerPersonalInfo .articlePeronalInfo .passwordProfile:hover {
  color: #f4a261;
}
@media screen and (min-width: 520px) {
  .readProfileForm .articlePeronalInfo,
  .containerPersonalInfo .articlePeronalInfo {
    width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .readProfileForm .articlePeronalInfo,
  .containerPersonalInfo .articlePeronalInfo {
    width: 75%;
  }
}
@media screen and (min-width: 700px) {
  .readProfileForm .articlePeronalInfo,
  .containerPersonalInfo .articlePeronalInfo {
    width: 65%;
  }
}
@media screen and (min-width: 768px) {
  .readProfileForm form,
  .readProfileForm .articlePeronalInfo,
  .containerPersonalInfo form,
  .containerPersonalInfo .articlePeronalInfo {
    width: 60%;
    border: 3px solid #f4a261;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .readProfileForm form div,
  .readProfileForm .articlePeronalInfo div,
  .containerPersonalInfo form div,
  .containerPersonalInfo .articlePeronalInfo div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .readProfileForm form div input,
  .readProfileForm .articlePeronalInfo div input,
  .containerPersonalInfo form div input,
  .containerPersonalInfo .articlePeronalInfo div input {
    margin-right: 0;
  }
  .readProfileForm form input[type=submit],
  .readProfileForm form .btn,
  .readProfileForm .articlePeronalInfo input[type=submit],
  .readProfileForm .articlePeronalInfo .btn,
  .containerPersonalInfo form input[type=submit],
  .containerPersonalInfo form .btn,
  .containerPersonalInfo .articlePeronalInfo input[type=submit],
  .containerPersonalInfo .articlePeronalInfo .btn {
    margin: 0 auto;
    margin-top: 3rem;
  }
  .readProfileForm form .btn,
  .readProfileForm .articlePeronalInfo .btn,
  .containerPersonalInfo form .btn,
  .containerPersonalInfo .articlePeronalInfo .btn {
    margin-right: 5%;
  }
  .readProfileForm .articlePeronalInfo,
  .containerPersonalInfo .articlePeronalInfo {
    width: 65%;
  }
}
@media screen and (min-width: 992px) {
  .readProfileForm .articlePeronalInfo,
  .containerPersonalInfo .articlePeronalInfo {
    width: 50%;
  }
}/*# sourceMappingURL=readProfile.module.css.map */