// Variables Color

$colorGreen: #00a699;
$colorOrange: #f4a261;
$colorBlue: #0077b6;
$colorBlueBurger: #184e77;
$colorwhite: #ffffffe9;
$colorText: #484848;
$colorBlack: #1d1e20;
$colorFlyGray: #cbcbcb;

// style Input / button / select
.formAllUser select,
.formVehicleAll select,
input,
.btn {
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  outline-style: none;
  border: 2px solid $colorBlue;
}
input[type="submit"],
.btn {
  background-color: $colorBlue;
  color: $colorwhite;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .formVehicleAll select,
  input,
  .btn {
    width: 60%;
  }
}

.titleLicense {
  display: block;
  color: $colorOrange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 3.5rem 0;
}
.containerAllUser,
.containerVehicleAll {
  form {
    margin: 0 auto;
    border: 3px solid $colorOrange;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 5rem;
  }
}

.containerAllUser,
.containerVehicleAll,
.containerVehicleCreate,
.containerPersonalInfo,
.passwordForm,
.createProfileForm,
.editProfileForm,
.containerPersonalInfo {
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 90%;
  h2 {
    margin-bottom: 3rem;
  }

  strong,
  label {
    font-size: 2rem;
    color: $colorGreen;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    margin-top: 3rem;
  }
  input[type="submit"] {
    margin-top: 1rem;
  }

  @media screen and (min-width: 768px) {
    form {
      width: 70%;
      border: 3px solid $colorOrange;
      border-radius: 0.5rem;
      padding: 1rem;

      div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        select,
        input {
          margin-right: 0;
        }
      }
      input[type="submit"],
      .btn {
        margin: 0 auto;
        margin-top: 3rem;
      }
      .btn {
        margin-right: 5%;
      }
    }
  }
  @media screen and (min-width: 992px) {
    form,
    .formVehicleAll {
      width: 60%;
    }
  }
}
