input,
.btn {
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  outline-style: none;
  border: 2px solid #0077b6;
}

input[type=submit],
.btn {
  background-color: #0077b6;
  color: rgba(255, 255, 255, 0.9137254902);
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  input,
  .btn {
    width: 60%;
  }
}
.containerHome .sectionHomeSearch {
  margin-bottom: 5rem;
}
.containerHome .formSearch {
  background-color: #f4a261;
  margin-top: 4rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
  font-size: 1.1rem;
}
.containerHome .formSearch .selectDeparture,
.containerHome .formSearch .selectReturn,
.containerHome .formSearch .returnDate,
.containerHome .formSearch .departureDate,
.containerHome .formSearch .categorie,
.containerHome .formSearch .submitForm {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9137254902);
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
  line-height: 2.2rem;
  height: 6rem;
}
.containerHome .formSearch .selectDeparture input,
.containerHome .formSearch .selectDeparture select,
.containerHome .formSearch .selectReturn input,
.containerHome .formSearch .selectReturn select,
.containerHome .formSearch .returnDate input,
.containerHome .formSearch .returnDate select,
.containerHome .formSearch .departureDate input,
.containerHome .formSearch .departureDate select,
.containerHome .formSearch .categorie input,
.containerHome .formSearch .categorie select,
.containerHome .formSearch .submitForm input,
.containerHome .formSearch .submitForm select {
  all: unset;
}
.containerHome .formSearch .formSelect {
  margin: 0 auto;
}
.containerHome .formSearch .selectDeparture:hover,
.containerHome .formSearch .selectReturn:hover,
.containerHome .formSearch .categorie:hover {
  color: #00a699;
}
.containerHome .formSearch .selectDeparture,
.containerHome .formSearch .selectReturn,
.containerHome .formSearch .categorie {
  display: flex;
  align-items: center;
}
.containerHome .formSearch .selectDeparture label,
.containerHome .formSearch .selectReturn label,
.containerHome .formSearch .categorie label {
  padding-right: 1rem;
}
.containerHome .formSearch .dateTimeDeparture,
.containerHome .formSearch .dateTimeReturn {
  display: flex;
}
.containerHome .formSearch .dateTimeDeparture .departureDate,
.containerHome .formSearch .dateTimeReturn .departureDate {
  margin: 0;
}
.containerHome .formSearch .dateTimeDeparture .departureDate,
.containerHome .formSearch .dateTimeDeparture .returnDate,
.containerHome .formSearch .dateTimeReturn .departureDate,
.containerHome .formSearch .dateTimeReturn .returnDate {
  display: flex;
  flex-direction: column;
  margin-right: 0.3rem;
  width: 50%;
}
.containerHome .formSearch .dateTimeDeparture .returnDate,
.containerHome .formSearch .dateTimeReturn .returnDate {
  margin-bottom: 0;
  margin-top: 0;
}
.containerHome .formSearch .dateTimeDeparture input[type=date]::-webkit-calendar-picker-indicator,
.containerHome .formSearch .dateTimeReturn input[type=date]::-webkit-calendar-picker-indicator {
  transform: scale(2);
}
.containerHome .formSearch .dateTimeDeparture input[type=date]::-webkit-calendar-picker-indicator:hover,
.containerHome .formSearch .dateTimeReturn input[type=date]::-webkit-calendar-picker-indicator:hover {
  transform: scale(2.8);
}
.containerHome .formSearch .categorieSubmit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerHome .formSearch .categorie {
  margin-top: 0;
  width: 50%;
}
.containerHome .formSearch .submitForm {
  width: 50%;
  margin-right: 0;
  margin-top: 0;
  margin-left: 0.3rem;
  border: none;
  color: #00a699;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}
@media screen and (min-width: 500px) {
  .containerHome .formSearch {
    font-size: 1.6rem;
  }
  .containerHome .formSearch .submitForm {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .containerHome .containerHome h1 {
    font-size: 2.8rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .containerHome .containerHome .formSearch .formSelect {
    display: flex;
  }
  .containerHome .containerHome .formSearch .formSelect .selectDeparture,
  .containerHome .containerHome .formSearch .formSelect .selectReturn {
    width: 50%;
  }
  .containerHome .containerHome .formSearch .formSelect .selectReturn {
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 992px) {
  .containerHome h1 {
    font-size: 3.3rem;
    width: 70%;
    margin: 0 auto;
  }
  .containerHome .formSearch .selectDateTime {
    display: flex;
  }
  .containerHome .formSearch .dateTimeDeparture {
    margin-right: 0.15rem;
  }
  .containerHome .formSearch .dateTimeReturn {
    margin-left: 0.15rem;
  }
  .containerHome .formSearch .dateTimeDeparture,
  .containerHome .formSearch .dateTimeReturn {
    width: 50.3%;
  }
  .containerHome .formSearch .dateTimeDeparture .departureDate,
  .containerHome .formSearch .dateTimeDeparture .returnDate,
  .containerHome .formSearch .dateTimeReturn .departureDate,
  .containerHome .formSearch .dateTimeReturn .returnDate {
    width: 50%;
  }
}/*# sourceMappingURL=home.module.css.map */