@import "../../styles/settings.scss";

.header {
  display: flex;
  justify-content: space-between;
  margin-top: -1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
}
.containerLogo {
  display: flex;
  align-items: center;
  p {
    font-weight: bold;
    color: $colorBlack;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
  }

  img {
    width: 7rem;
    height: 7rem;
  }
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;

  .menuNavBar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: $colorGreen;
    opacity: 0.96;
    transform: translateX(600px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Afficher le menu lorsqu'il est ouvert
    &.active {
      transform: translateX(0);
    }

    //liens du menu
    a {
      display: block;
      padding: 10px;
      color: $colorwhite;
      transition: all 0.3s ease-in-out;
      line-height: 2.5;
      font-size: 2.5rem;
    }
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 30px;
    height: 18px;

    span {
      width: 100%;
      height: 3px;
      background-color: $colorBlue;
      transition: all 0.3s ease-out;
    }

    &.active {
      .beforeBurger {
        transform: translateY(-8px) rotate(-45deg);
        background-color: $colorBlueBurger;
      }
      .middleBurger {
        opacity: 0;
      }
      .afterBurger {
        transform: translateY(8px) rotate(45deg);
        background-color: $colorBlueBurger;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .containerLogo {
    p {
      font-size: 2rem;
    }

    img {
      width: 120px;
      height: 100px;
    }
  }
  .navBar {
    .menuNavBar {
      a {
        font-size: 3rem;
        line-height: 2.5;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .navBar {
    .menuNavBar {
      flex-direction: row;
      justify-content: space-between;
      position: static;
      height: auto;
      width: auto;
      // overflow-y: visible;
      transform: none;
      background-color: $colorwhite;

      a {
        font-size: 1.8rem;
        color: $colorText;
      }
    }
    .burger {
      display: none;
    }
  }
}
