.linkCreateVehicle a,
.formVehicleCreate select,
.formAllUser select,
.formVehicleAll select,
input,
.btn {
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  outline-style: none;
  border: 2px solid #0077b6;
}

.linkCreateVehicle a,
input[type=submit],
.btn {
  background-color: #0077b6;
  color: rgba(255, 255, 255, 0.9137254902);
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .linkCreateVehicle a,
  .formVehicleCreate select,
  .formVehicleAll select,
  input,
  .btn {
    width: 60%;
  }
}
.titleMedia,
.titleLicense {
  display: block;
  color: #f4a261;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 3.5rem 0;
}

.containerVehicleCreate form,
.containerAllUser form,
.containerVehicleAll form {
  margin: 0 auto;
  border: 3px solid #f4a261;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.containerAllUser,
.containerVehicleAll,
.containerVehicleCreate,
.containerPersonalInfo,
.passwordForm,
.createProfileForm,
.editProfileForm,
.containerPersonalInfo {
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 90%;
}
.containerAllUser h2,
.containerVehicleAll h2,
.containerVehicleCreate h2,
.containerPersonalInfo h2,
.passwordForm h2,
.createProfileForm h2,
.editProfileForm h2,
.containerPersonalInfo h2 {
  margin-bottom: 3rem;
}
.containerAllUser strong,
.containerAllUser label,
.containerVehicleAll strong,
.containerVehicleAll label,
.containerVehicleCreate strong,
.containerVehicleCreate label,
.containerPersonalInfo strong,
.containerPersonalInfo label,
.passwordForm strong,
.passwordForm label,
.createProfileForm strong,
.createProfileForm label,
.editProfileForm strong,
.editProfileForm label,
.containerPersonalInfo strong,
.containerPersonalInfo label {
  font-size: 2rem;
  color: #00a699;
}
.containerAllUser div,
.containerVehicleAll div,
.containerVehicleCreate div,
.containerPersonalInfo div,
.passwordForm div,
.createProfileForm div,
.editProfileForm div,
.containerPersonalInfo div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerAllUser .btn,
.containerVehicleAll .btn,
.containerVehicleCreate .btn,
.containerPersonalInfo .btn,
.passwordForm .btn,
.createProfileForm .btn,
.editProfileForm .btn,
.containerPersonalInfo .btn {
  margin-top: 3rem;
}
.containerAllUser input[type=submit],
.containerVehicleAll input[type=submit],
.containerVehicleCreate input[type=submit],
.containerPersonalInfo input[type=submit],
.passwordForm input[type=submit],
.createProfileForm input[type=submit],
.editProfileForm input[type=submit],
.containerPersonalInfo input[type=submit] {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .containerAllUser form,
  .containerVehicleAll form,
  .containerVehicleCreate form,
  .containerPersonalInfo form,
  .passwordForm form,
  .createProfileForm form,
  .editProfileForm form,
  .containerPersonalInfo form {
    width: 70%;
    border: 3px solid #f4a261;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .containerAllUser form div,
  .containerVehicleAll form div,
  .containerVehicleCreate form div,
  .containerPersonalInfo form div,
  .passwordForm form div,
  .createProfileForm form div,
  .editProfileForm form div,
  .containerPersonalInfo form div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .containerAllUser form div select,
  .containerAllUser form div input,
  .containerVehicleAll form div select,
  .containerVehicleAll form div input,
  .containerVehicleCreate form div select,
  .containerVehicleCreate form div input,
  .containerPersonalInfo form div select,
  .containerPersonalInfo form div input,
  .passwordForm form div select,
  .passwordForm form div input,
  .createProfileForm form div select,
  .createProfileForm form div input,
  .editProfileForm form div select,
  .editProfileForm form div input,
  .containerPersonalInfo form div select,
  .containerPersonalInfo form div input {
    margin-right: 0;
  }
  .containerAllUser form input[type=submit],
  .containerAllUser form .btn,
  .containerVehicleAll form input[type=submit],
  .containerVehicleAll form .btn,
  .containerVehicleCreate form input[type=submit],
  .containerVehicleCreate form .btn,
  .containerPersonalInfo form input[type=submit],
  .containerPersonalInfo form .btn,
  .passwordForm form input[type=submit],
  .passwordForm form .btn,
  .createProfileForm form input[type=submit],
  .createProfileForm form .btn,
  .editProfileForm form input[type=submit],
  .editProfileForm form .btn,
  .containerPersonalInfo form input[type=submit],
  .containerPersonalInfo form .btn {
    margin: 0 auto;
    margin-top: 3rem;
  }
  .containerAllUser form .btn,
  .containerVehicleAll form .btn,
  .containerVehicleCreate form .btn,
  .containerPersonalInfo form .btn,
  .passwordForm form .btn,
  .createProfileForm form .btn,
  .editProfileForm form .btn,
  .containerPersonalInfo form .btn {
    margin-right: 5%;
  }
}
@media screen and (min-width: 992px) {
  .containerAllUser form,
  .containerAllUser .formVehicleAll,
  .containerVehicleAll form,
  .containerVehicleAll .formVehicleAll,
  .containerVehicleCreate form,
  .containerVehicleCreate .formVehicleAll,
  .containerPersonalInfo form,
  .containerPersonalInfo .formVehicleAll,
  .passwordForm form,
  .passwordForm .formVehicleAll,
  .createProfileForm form,
  .createProfileForm .formVehicleAll,
  .editProfileForm form,
  .editProfileForm .formVehicleAll,
  .containerPersonalInfo form,
  .containerPersonalInfo .formVehicleAll {
    width: 60%;
  }
}

.footer {
  transition: all 0.5s ease-in-out;
  background-color: #cbcbcb;
  padding-bottom: 1rem;
}
.footer .logoFooter img {
  width: 12rem;
}
.footer .copyright {
  color: #1d1e20;
}
.footer .navFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}
.footer .navFooter a {
  padding: 1rem;
  font-size: 1.8rem;
  color: #1d1e20;
}
@media screen and (min-width: 768px) {
  .footer .navFooter {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer .navFooter a {
    padding: 0;
  }
}/*# sourceMappingURL=footer.module.css.map */