@import "../../../styles/settings.scss";

//*********LOGIN**************
.login {
  margin: 8rem 0;
  .passwordForget {
    margin-bottom: 3rem;
  }
  .createAccount,
  .passwordForget {
    a {
      color: $colorBlue;
    }
  }
}
